<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/BarType1.css' />

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

  <style>

    div.insideContainer {
      border: 1px solid #ccc;
      background-color: #f3f3f3;
      height: 700px;
    }

    .TabClass {
      margin-top: 45px;
    }

    #DataContainer {
      height: 90%;
      margin: 25px 50px 25px 50px;
    }

    li {
      margin-bottom: 1em;
    }
    
  </style>

</head>

<body>
  <% var data= "Bar-1-Template" %>
    <% include ../templates/header.ejs %>

      <ul class="nav nav-tabs" style="text-align:center; margin-top: 50px; padding:10px; font-size: 1.2em;" >
        <li class="active" id="GraphTab" style=" float:none;display:inline-block; padding:5px; "><a href="#" style="color: black;"><b>Graph Template</b></a></li>
        <li id="DataTab" style=" float:none;display:inline-block; padding:5px;"><a href="#" style="color: black;"><b>Sample Data</b></a></li>
        <li id="ConditionTab" style=" float:none;display:inline-block; padding:5px;"><a href="#" style="color: black;"><b>Data Restrictions</b></a></li>
      </ul>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-2">

          </div>
          <div class="col-sm-10 col-md-10 col-lg-8">
            <div class="insideContainer">

              <div class="GraphClass TabClass text-center">
                <h2><b>Bar Graph (type 1)<b></h2>
                <script type="text/javascript">
                  var data = [
                    {
                      "letter": "A",
                      "frequency": 0.08167
                    },
                    {
                      "letter": "B",
                      "frequency": 0.01492
                    },
                    {
                      "letter": "C",
                      "frequency": 0.02780
                    },
                    {
                      "letter": "D",
                      "frequency": 0.04253
                    },
                    {
                      "letter": "E",
                      "frequency": 0.12702
                    },
                    {
                      "letter": "F",
                      "frequency": 0.02288
                    },
                    {
                      "letter": "G",
                      "frequency": 0.02022
                    },
                    {
                      "letter": "H",
                      "frequency": 0.06094
                    },
                    {
                      "letter": "I",
                      "frequency": 0.06973
                    },
                    {
                      "letter": "J",
                      "frequency": 0.00153
                    },
                    {
                      "letter": "K",
                      "frequency": 0.00747
                    },
                    {
                      "letter": "L",
                      "frequency": 0.04025
                    },
                    {
                      "letter": "M",
                      "frequency": 0.02517
                    },
                    {
                      "letter": "N",
                      "frequency": 0.06749
                    },
                    {
                      "letter": "O",
                      "frequency": 0.07507
                    },
                    {
                      "letter": "P",
                      "frequency": 0.01929
                    },
                    {
                      "letter": "Q",
                      "frequency": 0.00098
                    },
                    {
                      "letter": "R",
                      "frequency": 0.05987
                    },
                    {
                      "letter": "S",
                      "frequency": 0.06333
                    },
                    {
                      "letter": "Y",
                      "frequency": 0.01971
                    },
                    {
                      "letter": "Z",
                      "frequency": 0.00074
                    }
                  ];

                  function ForDataTab() {
                    var s = JSON.stringify(data);
                    var neatJson = JSON.stringify(eval("(" + s + ")"), null, "\t");
                    //console.log(neatJson);
                    document.getElementById("DataTextArea").value = neatJson;
                  }
                  window.onload = ForDataTab;


                  function plotGraph(toShow) {
                    if (toShow) {

                      var margin = { top: 40, right: 20, bottom: 30, left: 40 },
                        width = 800 - margin.left - margin.right,
                        height = 416 - margin.top - margin.bottom;


                      var x = d3.scale.ordinal()
                        .rangeRoundBands([0, width], .1);

                      var y = d3.scale.linear()
                        .range([height, 0]);

                      var xAxis = d3.svg.axis()
                        .scale(x)
                        .orient("bottom");

                      var yAxis = d3.svg.axis()
                        .scale(y)
                        .orient("left")

                      var tip = d3.tip()
                        .attr('class', 'd3-tip')
                        .offset([-10, 0])
                        .html(function (d) {
                          return "<strong>Frequency:</strong> <span style='color:red'>" + d.frequency + "</span>";
                        })

                      var svg = d3.select(".GraphClass").append("svg")                                                      /////Very important! Add graph to div! not body
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                      svg.call(tip);

                      x.domain(data.map(function (d) { return d.letter; }));
                      y.domain([0, d3.max(data, function (d) { return d.frequency; })]);

                      svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);

                      svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("Frequency");

                      svg.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function (d) { return x(d.letter); })
                        .attr("width", x.rangeBand())
                        .attr("y", function (d) { return y(d.frequency); })
                        .attr("height", function (d) { return height - y(d.frequency); })
                        .on('mouseover', tip.show)
                        .on('mouseout', tip.hide)
                    }
                    else {
                      d3.select("svg").remove();
                    }

                  }
                </script>
              </div>

              <div class="DataClass TabClass " id="DataContainer">
                <textarea readonly class="form-control" id="DataTextArea" style="width:100%; height:100%;">
              </textarea>
              </div>

              <div class="ConditionClass TabClass " id="DataContainer">
                <h3>Data Restrictions</h3>
                <!-- <textarea readonly class="form-control" id="ConditionsTextArea" style="width:100%; height:100%;"> -->
                <ul style="font-size: 1.2em; margin-bottom: 1em;">
                  <li>All strings must be enclosed within quotes</li>
                  <li>All Numbers must be plain (Without quotes) (For algorithm purpose)</li>
                  <li>Only two properties must be within each object</li>
                  <li>Each object in the Data must be consistent (Same keys pairs)</li>
                  <li>All Keys must be strings enclosed within quotes</li>
                  <li>There should be one String and one Number property</li>
                </ul>
                <!-- </textarea> -->
              </div>

            </div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-2">

          </div>
        </div>
      </div>

      <% include ../templates/footer.ejs %>
      <script>
                  $(document).ready(function () {

                    console.log("Jquery working");

                    $("#GraphTab").addClass("active");
                    plotGraph(false);
                    plotGraph(true);

                    $(".GraphClass").show();
                    $(".DataClass").hide();
                    $(".ConditionClass").hide();

                    $("#GraphTab").click(function () {

                      console.log("Clicked Graph Tab");

                      if ($('#GraphTab').attr('class') != "active") {
                        plotGraph(true);
                      }

                      $(this).addClass("active");               //On click, Set the tab on active and remove other tabs with active
                      $("#DataTab").removeClass("active");
                      $("#ConditionTab").removeClass("active");

                      $(".GraphClass").show();
                      $(".DataClass").hide();
                      $(".ConditionClass").hide();

                    });

                    $("#DataTab").click(function () {

                      console.log("Clicked Data Tab");

                      $(this).addClass("active");
                      $("#GraphTab").removeClass("active");
                      $("#ConditionTab").removeClass("active");

                      $(".DataClass").show();
                      $(".GraphClass").hide();
                      $(".ConditionClass").hide();
                      plotGraph(false);

                    });

                    $("#ConditionTab").click(function () {

                      console.log("Clicked Condition Tab");

                      $(this).addClass("active");
                      $("#GraphTab").removeClass("active");
                      $("#DataTab").removeClass("active");

                      $(".ConditionClass").show();
                      $(".DataClass").hide();
                      $(".GraphClass").hide();
                      plotGraph(false);

                    });


                  });
      </script>
</body>

</html>