<!DOCTYPE html>
<html>

<head>
  <title>Graph Collection</title>
  <link rel='stylesheet' href='/stylesheets/graphCollection.css' />
</head>

<body>
  <% var data= "CollectionPage" %>
    <% include templates/navigation.ejs %>
      <h1>All Graphs in our Database</h1>

      <div class="container">
        <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="tile">
              <img src="/images/GraphSamples/BarType1.jpg" class="image">
              <div class="overlay">
                <a href="GraphSamples/BarTemplate1" class="purple text">Bar-Graph Type1</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="tile">
              <img src="/images/GraphSamples/StackBar.jpg" class="image">
              <div class="overlay">
                <a href="GraphSamples/StackBarTemplate" class="purple text">Stack Bar Graph</a>
              </div>
            </div>
          </div>


        </div>


      </div>




      <!-- JQuery scripting for modal bootstrap-->

      <script>
        $(document).ready(function () {

        });
      </script>

</body>

</html>