<!DOCTYPE html>
<html>

<head>
  <title>Graph Collection</title>
  <link rel='stylesheet' href='/stylesheets/graphCollection.css' />
</head>

<body>
  <% var data= "CollectionPage" %>
    <% include templates/navigation.ejs %>
      <h1>All Graphs in our Database</h1>

      <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="dummy"></div>
              <a href="GraphSamples/BarTemplate1" class="thumbnail purple ChartTile" id="BarType1">Bar Graph Type 1</a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="dummy"></div>
              <a href="#" class="thumbnail purple ChartTile" id="StackBarType1">Stack Bar Graph</a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="dummy"></div>
              <a href="#" class="thumbnail purple ChartTile">Do not Click, Just testing</a>
            </div>

        </div>


      </div>




      <!-- JQuery scripting for modal bootstrap-->

      <script>
        $(document).ready(function () {

        });
      </script>

</body>

</html>