<!DOCTYPE html>
<html>
  <head>
    <title>Plotify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var data= "graphPage" %>
    <% include templates/navigation.ejs %>
    <br>
    <h1>Find your perfect graph</h1>
    <br><br>
    <form id="dataUpload" method="post" action="/graphs">
        <div class="form-group">
            <label for="jsondata">Enter Data:</label>
            <textarea class="form-control" id="jsondata" rows="20" name="datatextarea"><%= json %></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            <h2><%= status %></h2>

    </div>
  </body>
</html>