<!DOCTYPE html>
<html>
  <head>
    <title>My Chart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var data= "myChartPage" %>  
    <% include templates/navigation.ejs %>
    <h1>This is My chart page </h1>
  </body>
</html>