<!-- footer Start
        ====================================================================== -->
        <br>
        <br>
        <br>    
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="footer-contant">
                        <div class="support-link">
                            <ul>
                                <li><a href="/graphCollection">Graph Collection</a></li>
                                <li><a href="/developers">Developers</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- #footer -->